<p id="notice"><%= notice %></p>

<p>
  <b>Present:</b>
  <%= @presence.present %>
</p>

<p>
  <b>Event:</b>
  <%= @presence.event %>
</p>

<p>
  <b>Entrepreneur:</b>
  <%= @presence.entrepreneur %>
</p>


<%= link_to 'Edit', edit_presence_path(@presence) %> |
<%= link_to 'Back', presences_path %>
