<div class="process-sign-up">
  <div class="process-sign-up__logo">
    <span><%= @selection_process.enterprise.name %></span>
  </div>
  <header class="process-sign-up__header">
    <h1><%= @selection_process.name %></h1>
  </header>
  <div class="process-sign-up__body">
    <%= form_for(:candidate, url: selection_process_register_candidate_url(@selection_process), :html => { :class => "form process-sign-up__form"}) do |f| %>
        <div class="field-box">
          <%= f.label :name, "Meu Nome É" %>
          <%= f.text_field :name, :required => true, :autofocus => true %>
        </div>
        
        <div class="field-box">
          <%= f.label :email, "Meu email é" %>
          <%= f.email_field :email, :required => true %>
        </div>

        <div class="field-box">
          <%= f.label :course, "Faço curso de" %>
          <%= f.text_field :course, :required => true %>
        </div>
        
        <div class="field-box">
          <%= f.label :description, "Sobre mim" %>
          <%= f.text_area :description %>
        </div>

        <div class="field-box">
          <%= f.label "Currículo" %>
          <%= f.file_field :curriculum, :required => true %>
        </div>
    </div>
    <div class="process-sign-up__footer">
      <%= f.submit "Inscreva-se", :class => "btn--success btn--full-width" %>
    </div>
  <% end %>
  <div class="process-sign-up__footer-notes">
    <small>
      POWERED BY SAFIRA <br>
      2013 © 4SOFT
    </small>
  </div>
</div>




