<%= form_for(@event_presence) do |f| %>
  <% if @event_presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_presence.errors.count, "error") %> prohibited this event_presence from being saved:</h2>

      <ul>
      <% @event_presence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
   <!--  <% if @entrepreneurs.each do |entrepreneur| %>
      <%= form_for(Presence.new, url: event_presences_path, html: { class: "form" }) do |h| %>
        <%= entrepreneur.name %><br />
        <%= h.label :present_true, "Presente" %>
        <%= h.radio_button :present, true %>
        <%= h.label :present_true, "Faltou" %>
        <%= h.radio_button :present, false %>
      <% end %>
    <% end.empty? %>
      <p>Não há nenhum <strong>Empresário</strong> cadastrado até o momento.</p>
    <% end %> -->
  </div>
  <div class="actions">
    <%= f.submit "Criar", :class=> "btn--success" %>
    <%= link_to "Cancelar", @event_presence, :class => "btn" %>
  </div>
<% end %>
