<h1>Listing event_presences</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_presences.each do |event_presence| %>
  <tr>
    <td><%= event_presence.name %></td>
    <td><%= event_presence.date %></td>
    <td><%= link_to 'Show', event_presence %></td>
    <td><%= link_to 'Edit', edit_event_presence_path(event_presence) %></td>
    <td><%= link_to 'Destroy', event_presence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event presence', new_event_presence_path %>
