<section class="panel">
  <header class="panel__header">
    <span class="hide-mobile">
      <h2>Hall de membros</h2>
    </span>
  </header>
  
<% if @entrepreneurs.each do |entrepreneur| %>
  <pre>
    Nome: <%= entrepreneur.name %>
    Email pessoal: <%= entrepreneur.personal_email %>
    Email profissional: <%= entrepreneur.professional_email %>

    Informações adicionais:

    <% if entrepreneur.custom_infos.each do |info| %>
      <%= info.name %>: <%= info.value %>
    <% end.empty? %>
      Nenhuma informação adicional para este empresário
    <% end %>

    ----------------------------------------------------------------
  </pre>
<% end.empty? %>
  <p>Não há nenhum <strong>Empresário</strong> cadastrado até o momento.</p>
<% end %>

<h3 style="margin-left: 20px">Adicionar empresário</h3>

<%= render 'form' %>