<div class="panel">

  <%= simple_form_for(@event, url: events_url, :html => { :class => "form", :id => "event_form"}) do |f| %>
    
    <!-- <div style="display: inline-table; width: 100%; background: yellow; float: left;">
      <% @entrepreneurs.each do |en| %>
        <div style="display: table-cell">
          <input name='entrepreneurs[]' id="<%= "ent#{en.id}"%>" value="<%= "#{en.id}"%>" type="checkbox">
          <label style="float:none" for="<%= "ent#{en.id}"%>"><%= en.name %></label>
        </div>
      <% end %>
    </div> -->

    <%= f.association :entrepreneurs, as: :check_boxes, class: "checkbox" %>

    <%= f.input :name %>
 
    <%= f.label "Data de abertura das inscrições" %>
    <%= f.text_field :initial_date, :required => true, 'data-behaviour' => 'datepicker' %><br/>
    
    <%= f.label "Data de fechamento das inscrições" %>
    <%= f.text_field :final_date, :required => true, 'data-behaviour' => 'datepicker'%><br/>

    <%= f.input :description %>

    <div class="form-actions">
      <center>
        <%= f.submit "Criar Evento", :class=> "btn--success" %>
        <%= link_to "Cancelar", @event, :class => "btn" %>
      </center>
    </div>
  <% end %>
</div>