<div class="panel">
  <%= form_for(:event, url: events_url, :html => { :class => "form", :id => "event_form"}) do |f| %>
    <%= f.label "Nome" %>
    <%= f.text_field :name, :required => true, :autofocus => true %><br/>

    <%= f.label "Data de início" %>
    <%= f.text_field :initial_date, :required => true %><br/>

    <%= f.label "Data de encerramento" %>
    <%= f.text_field :final_date, :required => true %><br/>

    <%= f.label "Descrição" %>
    <%= f.text_area :description, :required => true %><br/>

    <div class="form-actions">
      <center>
        <%= f.submit "Criar Etapa", :class=> "btn--success" %>
        <%= link_to "Cancelar", @event, :class => "btn" %>
      </center>
    </div>
  <% end %>
</div>