<div class="panel">

  <%= simple_form_for(@event, url: events_url, :html => { :class => "form", :id => "event_form"}) do |f| %>
    
    

    <%= f.association :entrepreneurs, as: :check_boxes, class: "checkbox" %>
    
    <br/>
    <br/>
    <br/>

    <%= f.input :name %>
 
    <%= f.label "Data de abertura das inscrições" %>
    <%= f.text_field :initial_date, :required => true, 'data-behaviour' => 'datepicker' %><br/>
    
    <%= f.label "Data de fechamento das inscrições" %>
    <%= f.text_field :final_date, :required => true, 'data-behaviour' => 'datepicker'%><br/>

    <%= f.input :description %>

    <div class="form-actions">
      <center>
        <%= f.submit "Criar Evento", :class=> "btn--success" %>
        <%= link_to "Cancelar", @event, :class => "btn" %>
      </center>
    </div>
  <% end %>
</div>