<div class="panel">
  <%= form_for(:process_step, url: selection_process_process_steps_url(@selection_process), :html => { :class => "form", :id => "process_step_form"}) do |f| %>
    <%= f.label "Nome" %>
    <%= f.text_field :name %><br/>

    <%= f.label "Descrição" %>
    <%= f.text_area :description %><br/>

    <%= f.label "Data de abertura" %>
    <%= f.text_field :open_date %><br/>

    <%= f.label "Data de fechamento" %>
    <%= f.text_field :consolidated_at %><br/>

    <div class="form-actions">
      <center>
        <%= f.submit "Criar Etapa", :class=> "btn--success" %>
        <%= link_to "Cancelar", @selection_process, :class => "btn" %>
      </center>
    </div>
  <% end %>
</div>