  <section class="panel">
  <header class="panel__header">
    <span class="hide-mobile">
      <h2>
        Gerenciando etapa <%= @process_step.order_number %> - <%= @process_step.name %>
      </h2>
      <% if @process_step.delayed? %>
        <div class = "alert--warning"> 
            Etapa atrasada desde <%= @process_step.consolidated_at.strftime("%d/%m/%y") %>, consolide o quanto antes!!!
         </div>
      <% end %>
    </span>
    
    <div class="pull-right">
      <% if @process_step.consolidated? %>
        <span class= "alert--notice">
          Etapa consolidada em
          <%= @process_step.consolidated_at.strftime("%d/%m/%y") %>
        </span>      
      <% else %>
        <%= link_to "EDITAR ETAPA", edit_selection_process_process_step_path(@selection_process, @process_step), :class => "btn--primary" %>
        <%= link_to "CONSOLIDAR ETAPA", selection_process_process_step_consolidate_path(@selection_process, @process_step), :class => "btn", method: :post %>
      <% end %>
    </div>
  </header>

  <hr>
  <h3 style="margin-left:20px">Candidatos inscritos</h3>
  <ul>
    <% if @process_step.candidates.each do |cand| %>
      <li>
        <%= cand.name %>
        <%= cand.email %>
        <%= link_to_function "Avaliar", "show_evaluation_form(#{cand.id})", id: "action_#{cand.id}" %>
        |   
        <%= link_to "Currículo", cand.curriculum.url %>
        <%= render "candidate_eval_form", cand: cand %>
      </li>
    <% end.empty? %>
      <p>Nenhum Candidato até o momento.</p>
    <% end %>
  </ul>
</section>
    
<script>
  $(document).ready(function(){
    hide_all_forms();
  });

  function hide_all_forms() {
    $("form").hide();
    $("a[id^=action]").text("Avaliar");
  }

  function show_evaluation_form(candidate) {
    if ($("#action_" + candidate).text() == "Avaliar") {
      $.ajax({
        url: "/feedbacks",
        data: {
          selection_process_id: <%= "#{@selection_process.id}" %>,
          process_step_id: <%= "#{@process_step.id}" %>,
          cand_id: candidate
        },
        success: function(data){
          $("#" + candidate + "_eval").html(data);
        }
      });

      hide_all_forms();
      $("#" + candidate + "_eval").show();
      $("#action_" + candidate).text("Esconder");
    }
    else if ($("#action_" + candidate).text() == "Esconder") {
      $("#" + candidate + "_eval").hide();
      $("#action_" + candidate).text("Avaliar");
    }
  }
</script>