<h1>Listing cashiers</h1>

<table>
  <tr>
    <th>Opening balance</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cashiers.each do |cashier| %>
  <tr>
    <td><%= cashier.opening_balance %></td>
    <td><%= cashier.references %></td>
    <td><%= link_to 'Show', cashier %></td>
    <td><%= link_to 'Edit', edit_cashier_path(cashier) %></td>
    <td><%= link_to 'Destroy', cashier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cashier', new_cashier_path %>
