<h1>Olá, candidato <%= @candidate.name %> do processo <%= @selection_process.year %>.<%= @selection_process.semester %></h1>

<h2>Feedback da etapa <%= @process_step.name %>, dado pelos administradores da empresa <%= @enteprise.name %></h2>

<p><%= @feedback.public %></p>

<p>Fique atento para as próximas etapas ;)</p>