<h1>Olá, candidato <%= @candidate.name %> do processo <%= @selection_process.full_name %></h1>

<% if @feedback.approved? %>
  <p>VOCÊ FOI APROVADO</p>
<% else %>
  <p>VOCÊ FOI REPROVADO</p>
<% end %>

<h2>Feedback da etapa <%= @process_step.name %>, dado pelos administradores da empresa <%= @enterprise.name %></h2>

<p><%= @feedback.public %></p>

<p>Fique atento(a) para as próximas etapas ;)</p>