<div class="panel">
  <%= form_for(@selection_process_form, url: selection_processes_path, :html => { :class => "form" }) do |f| %>
    <%= f.label "Nome" %> 
    <%= f.text_field :selection_process_name, :required => true, :autofocus => true %>

    <%= f.label "Chamada" %>
    <%= f.text_area :selection_process_call, :required => true %><br/>

    <%= f.label "Edital" %>
    <%= f.file_field :selection_process_edict, :required => true %><br/>

    <%= f.label "Data de abertura das inscrições" %>
    <%= f.text_field :inscription_open_date, :required => true, 'data-behaviour' => 'datepicker' %><br/>
    
    <%= f.label "Data de fechamento das inscrições" %>
    <%= f.text_field :inscription_consolidated_at, :required => true, 'data-behaviour' => 'datepicker'%><br/>

    <div class="form-actions">
      <center>
        <%= f.submit "Criar Processo", :class => "btn--success" %>
        <%= link_to "Cancelar", :back, :class => "btn--primary" %>
      </center>
    </div>
  <% end %>
</div>
