<%= render "aside" %>

<section class="section-content">

  <h1><%= @selection_process.full_name %></h1>

  <% @selection_process.process_steps.order(&:order_number).each do |step| %>
    <div style="background: #ccc">
      <h3><%= step.name %></h3>

      <p><%= truncate(step.description, length: 80) %></p>

      <ul>
        <% step.candidates.each do |cand| %>
          <li><%= link_to "#{cand.name}: #{cand.email}", [@selection_process, cand] %></li>
        <% end %>
      </ul>
      <%= link_to "Gerenciar etapa", [@selection_process, step] %>
    </div>
  <% end %>

  <% if @selection_process.consolidated? %>
    <p>Processo consolidado em <%= @selection_process.consolidated_at %></p>
  <% else %>
    <%= link_to "Consolidar processo seletivo", selection_process_consolidate_path(@selection_process), method: :post %>
  <% end %>

  <hr/>

  <h2>Adicionar etapa</h2>

  <%= render 'process_steps/form' %>
</section>
