<section class="panel">
  <header class="panel__header">
    <span class="hide-mobile">
      <h2><%= @selection_process.full_name %></h2>
    </span>

    <div class="pull-right">
      <% if @selection_process.consolidated? %>
        <span class= "alert--notice">
          Processo consolidado em
          <%= @selection_process.consolidated_at.strftime("%d/%m/%y") %>
        </span>
      <% else %>
        <% unless @selection_process.process_steps.exists?(:consolidated => nil) %>
          <%= link_to "CONSOLIDAR PROCESSO SELETIVO", selection_process_consolidate_path(@selection_process), :class => "btn--primary", method: :post %>
        <% else %> 
          <%= link_to "CONSOLIDAR PROCESSO SELETIVO", selection_process_consolidate_path(@selection_process), :class => "btn--disabled", :id => 'consolidar', :onclick => "$('consolidar').disabled = true;return false;"%>
        <% end %>
      <% end %>

      <%= link_to "Formulário de inscrição", selection_process_register_form_path(@selection_process), :class => "btn" %>
    </div>
  </header>

  <hr>
    <% if !@selection_process.consolidated?%>
    <%= link_to_function "ADICIONAR ETAPA", "show_process_steps_form()", :class=> "btn--success", :style => "margin-right:20px; float:right" %>
    <% end %>
  <h3 style="margin-left:20px">
    Listagem de Etapas
  </h3>
  <br/><br/>
  <table class="table">
    <tbody>
      <% @selection_process.process_steps.order(&:order_number).each do |step| %>
        <tr>
          <td>
            <h4>
              <%= step.name %>
            </h4>
            <p><%= truncate(step.description, length: 80) %></p>
          </td>
          <td>
            <%= pluralize(step.candidates.count, "Candidato")  %>
          </td>
          <td>
            <%= "Abertura: #{step.open_date.strftime("%d/%m/%y")}" if step.open_date %><br>
            <%= "Fechamento: #{step.consolidated_at.strftime("%d/%m/%y")}" if step.open_date %>
          </td>
          <td>
            <%= link_to "Gerenciar etapa", [@selection_process, step], :class => "btn--primary" %>
            <% if step != @selection_process.process_steps.first %>
              <% if (step.open_date <=> Date.today) == 1 %>              
                <%= link_to "Excluir etapa", [@selection_process, step], method: :delete, :class => "btn btn--danger"%>
              <% else %> 
                <%= link_to "Excluir etapa", [@selection_process, step], :class => "btn--disabled", :id => 'excluir', :onclick => "$('excluir').disabled = true;return false;"%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>




  <div id="block_process_step_form" style="display: none">
    <hr/>
    <h3 style="margin-left:20px">Adicionar etapa</h3><br>
    <%= render 'process_steps/form' %>
  </div>

  

  <% if @selection_process.consolidated? %>
    <h3 style="margin-left:20px">Aprovados:</h3>
    <table class="table">
      <tbody>
        <% if @selection_process.approved_candidates.each do |cand| %>
          <td><%= cand.name %></ltd>
        <% end.empty? %>
          <td>Ninguém foi aprovado :(</td>
        <% end %>
      </tbody>
    </table>  
  <% end %>
</section>

<script>
  function show_process_steps_form() {
    var target = "#block_process_step_form";
    $(target).show();
    $(window).scrollTop($(target).offset().top);
  }
</script>