<h1><%= @selection_process.full_name %></h1>

<p><%= @selection_process.description %></p>

<% @selection_process.process_steps.each do |step| %>
  <div style="background: #ccc">
    <h3><%= step.name %></h3>

    <p><%= truncate(step.description, length: 80) %></p>

    <ul>
      <% step.candidates.each do |cand| %>
        <li><%= link_to "#{cand.name}: #{cand.email}", [@selection_process, cand] %></li>
      <% end %>
    </ul>
    <%= link_to "Gerenciar etapa", [@selection_process, step] %>
  </div>
<% end %>

<%= render 'process_steps/form' %>
