<h1>Listing releases</h1>

<table>
  <tr>
    <th>Type release</th>
    <th>Value</th>
    <th>Description</th>
    <th>Form payment</th>
    <th>Date release</th>
    <th>Doc number</th>
    <th>Doc type</th>
    <th>Origin destination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @releases.each do |release| %>
  <tr>
    <td><%= release.type_release %></td>
    <td><%= release.value %></td>
    <td><%= release.description %></td>
    <td><%= release.form_payment %></td>
    <td><%= release.date_release %></td>
    <td><%= release.doc_number %></td>
    <td><%= release.doc_type %></td>
    <td><%= release.origin_destination %></td>
    <td><%= link_to 'Show', release %></td>
    <td><%= link_to 'Edit', edit_release_path(release) %></td>
    <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Release', new_release_path %>
